{% load static i18n %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>
        {% block title %} ToDo APIs {% endblock %}
    </title>
</head>
<body>


<div class="navigation">
    <a href="{% url 'users:registration' %}" class="btn">Reg</a>
    <a href="{% url 'users:login' %}" class="btn">Log In</a>
    <a href="{% url 'users:logout' %}" class="btn">Log Out</a>
    --- <span>{{ user }}</span>

    <form action="{% url 'set_language' %}" method="post" class='lang-form'>
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}" >
        <select name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Go" />
    </form>
</div>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            <b>{{ message }}</b>
        </div>
    {% endfor %}
{% endif %}




{% block content %}

    <h2>{% trans "translate this" %}</h2>
    <h3>Project</h3>
    <ul>
        <li><a href="{% url 'tasks:project_list' %}">List View</a></li>
        <li><a href="{% url 'tasks:project_create' %}">Create</a></li>
    </ul>

    <h3>Task</h3>
    <ul>
        <li><a href="{% url 'tasks:task_list' %}">List View</a></li>
        <li><a href="">Create</a></li>
    </ul>

{% endblock %}






{% block js %}
<script>
$(function(){
    $(".alert").fadeTo(4000, 500).slideUp(500, function(){
        $(".alert").slideUp(500);
    });
});
</script>
{% endblock %}

</body>
</html>